{{#each restaurants as |restaurant|}}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
        <a href="/restaurant/{{restaurant.id}}">{{restaurant.name}}</a>
    </h2>
<div class="col-md-7">
    <p>
        {{restaurant.description}}
    </p>
</div>
{{/each}}
<div class="container">
<div class="search-card">
    <div class="col-md-5">
        <h2>What Should I Eat?</h2>
        <form class="form search-form">
            <div class="form-group">
                <hr>
                {{!-- <label for="type-search"><b>Type</b></label>
                <input class="form-input" type="text" placeholder="What type of food do ya crave?" id="type-input" />
                 --}}
                <label for="zipcode-search"><b>Zipcode</b></label>
                <input class="form-input" type="text" placeholder="Enter your zipcode" id="zipcode-input" />
                <button type="submit"><i class="search-btn">Search</i></button>
            </div>
        </form>
    </div>
</div>

</div>

<script src="public/js/results.js"></script>        