:root {
    --primary: #091457;
    --secondary: #1862c4;
    --tertiary: #000000;
    --quatrinary: #6c6b67;
    --light: #f6fcfb;
    --dark: #f51d15;  
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--light);
    background-image: url(https://previews.123rf.com/images/krekdm/krekdm1607/krekdm160700283/61897878-seamless-food-pattern-can-be-used-for-wallpaper-website-background-wrapping-paper-restaurant-bright-.jpg);

  }

img {
  width: fit-content;
  height: 10rem;
  attachment: fixed;
  position: relative;
  opacity: 0.8;
}
  
header {
    padding: 10px;
    text-align: center;
    background: var(--primary);
    color: var(--light);
  }

  a {
    color: var(--light);
    text-decoration: none;
  }
  
  h2 {
    color: var(--dark);
  }

  h3 {
    color: #3f038d;
    background-color:rgba(254, 254, 255, 0.8);
  }

  h4 {
    font-size: 12px;
    text-align: center;
  }

  nav {
    display: flex;
    margin: auto;
  }
  
  nav a {
    color: var(--light);
    padding: 6px 12px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    color: var(--light);
    background-color: var(--secondary);
    border: solid var(--light);
  }

  button {
    color:var(--light);
    background-color: var(--primary);
  }

  button:hover {
    color: var(--light);
    background-color: var(--secondary);
    border: solid var(--light);
  }

  .resultsTitle {
    text-align: center;
  }

  .login-card {
    margin: 0 0 20px 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-style: double;
    border-width: thick;
    background-color: var(--primary);
    color: var(--light);
  }

  .container {
    /* margin: auto; */
    text-align: center;
  }

  .search-card {
    margin: auto;
    width: 60%;
    padding: 10px;
    /* display: block;
    position: center;  */
    /* border-radius: 5px; */
    border: 3px solid #091457;
    background-color: rgba(254, 254, 255, 0.8);
  }

  .review-card {
    margin: auto;
    width: 60%;
    padding: 10px;
    /* display: block;
    position: center;  */
    /* border-radius: 5px; */
    border: 3px solid #091457;
    background-color: rgba(254, 254, 255, 0.8);
    text-align: center;
  }

  .col-md-5 {
    display: inline-block;
  }

  .col-md-6 {
    text-align: center;
  }

  .row {
    text-align: center;
  }

  #profile-restaurant {
    color: var(--dark);
  }